@page "/<#cs Write(Definition.Name.ToLower())#>/{id:guid}"
@using Microsoft.Extensions.Localization;
@using <#ref Project.Namespace#>.Blazor.Identity;
@using <#ref Project.Namespace#>.Blazor.Services;
<#if Definitions.Any(d => d.IsArray)
#>@using <#ref Project.Namespace#>.Client.Data.Mappings;
<#end#>@using <#ref Project.Namespace#>.Client.Data.Models;
@using <#ref Project.Namespace#>.Client.Data.Services;
@using <#ref Project.Namespace#>.Client.Data;
@using <#ref Project.Namespace#>.Client.Localisation;
@using <#ref Project.Namespace#>.Contracts;
@using <#ref Project.Namespace#>.Contracts.Events;
@inject ILogger<<#ref Definition.Name#>> Log
@inject Najlot.Map.IMap Map;
@inject I<#ref Definition.Name#>Service <#ref Definition.Name#>Service<#if Entries.Any(e => e.IsReference)
#>
<#for entry in Entries.Where(e => e.IsReference)
#>@inject I<#ref entry.ReferenceType#>Service <#ref entry.ReferenceType#>Service
<#end#><#end#>
@inject NavigationManager NavigationManager
<#for entry in Entries.Where(e => e.IsEnumeration)
#>@inject IStringLocalizer<<#ref entry.EntryType#>Loc> <#ref entry.EntryType#>Localizer
<#end#>
@attribute [Authorize]
@implements IDisposable

@if (isNew)
{
	<PageTitle>@<#ref Definition.Name#>Loc.Create<#ref Definition.Name#></PageTitle>
}
else
{
	<PageTitle>@<#ref Definition.Name#>Loc.Edit<#ref Definition.Name#></PageTitle>
}

@if (Model == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
	<EditForm Model="@Model" OnValidSubmit="@Save">
		<section class="w-100 p-4 pb-4">
			<div class="form-outline align-content-md-end mb-4 float-end">
				<IconButton Icon="Undo"
							ButtonClass="btn btn-secondary"
							CanExecute="() => _changeTracker.CanUndo"
							Execute="_changeTracker.Undo" />
				<IconButton Icon="Redo"
							ButtonClass="btn btn-secondary"
							CanExecute="() => _changeTracker.CanRedo"
							Execute="_changeTracker.Redo" />
				<IconButton Icon="Save"
							ButtonClass="btn btn-success"
							CanExecute="() => _changeTracker.CanUndo"
							Execute="Save"
							Title="@CommonLoc.Save" />
				<IconButton Icon="Delete"
							ButtonClass="btn btn-danger"
							CanExecute="() => !isDeleteRequested"
							Execute="() => isDeleteRequested = true"
							Title="@CommonLoc.Delete" />
			</div>
			<div class="form-outline mb-4">
				@if (isNew)
				{
					<h1>@<#ref Definition.Name#>Loc.Create<#ref Definition.Name#></h1>
				}
				else
				{
					<h1>@<#ref Definition.Name#>Loc.Edit<#ref Definition.Name#></h1>
				}
			</div>
			<div class="w-auto h-auto">
				<DataAnnotationsValidator />
				<ValidationSummary />
<#for entry in Entries.Where(e => !e.IsArray)#>
				<!-- <#ref entry.Field#> input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="<#ref entry.Field#>Input">@<#ref Definition.Name#>Loc.<#ref entry.Field#></label>
<#if entry.EntryType.ToLower() == "string"
#>					<InputText type="text" id="<#ref entry.Field#>Input" class="form-control"
							   Value="@Model.<#ref entry.Field#>"
							   ValueChanged="@((string v) => _changeTracker.TrackChange(Model, nameof(Model.<#ref entry.Field#>), Model.<#ref entry.Field#>, v))"
							   ValueExpression="@(() => Model.<#ref entry.Field#>)" />
<#elseif entry.EntryType.ToLower() == "datetime"
#>					<InputDate id="<#ref entry.Field#>Input" class="form-control"
							   Value="@Model.<#ref entry.Field#>"
							   ValueChanged="@((DateTime v) => _changeTracker.TrackChange(Model, nameof(Model.<#ref entry.Field#>), Model.<#ref entry.Field#>, v))"
							   ValueExpression="@(() => Model.<#ref entry.Field#>)" ParsingErrorMessage="@ErrorLoc.ParsingErrorMustBeDate" />
<#elseif entry.EntryType.ToLower() == "bool"
#>					<InputCheckbox id="<#ref entry.Field#>Input" class="form-control"
								   Value="@Model.<#ref entry.Field#>"
								   ValueChanged="@((bool v) => _changeTracker.TrackChange(Model, nameof(Model.<#ref entry.Field#>), Model.<#ref entry.Field#>, v))"
								   ValueExpression="@(() => Model.<#ref entry.Field#>)" />
<#elseif entry.EntryType.ToLower() == "int" || entry.EntryType.ToLower() == "long" || entry.EntryType.ToLower() == "double"
#>					<InputNumber id="<#ref entry.Field#>Input" class="form-control"
							 Value="@Model.<#ref entry.Field#>"
							 ValueChanged="@((<#ref entry.EntryType#> v) => _changeTracker.TrackChange(Model, nameof(Model.<#ref entry.Field#>), Model.<#ref entry.Field#>, v))"
							 ValueExpression="@(() => Model.<#ref entry.Field#>)" ParsingErrorMessage="@ErrorLoc.ParsingErrorMustBeNumber" />
<#elseif entry.IsEnumeration
#>					<InputSelect id="<#ref entry.Field#>Input" class="form-control"
								 Value="@Model.<#ref entry.Field#>"
								 ValueChanged="@((Contracts.<#ref entry.EntryType#> v) => _changeTracker.TrackChange(Model, nameof(Model.<#ref entry.Field#>), Model.<#ref entry.Field#>, v))"
								 ValueExpression="@(() => Model.<#ref entry.Field#>)" >
						@foreach (var value in Enum.GetValues(typeof(Contracts.<#ref entry.EntryType#>)))
						{
							<option value="@value">@<#ref entry.EntryType#>Localizer[$"{@value}"]</option>
						}
					</InputSelect>
<#elseif entry.IsReference
#>					<InputSelect id="<#ref entry.Field#>Input" class="form-control"
								 Value="@Model.<#ref entry.Field#>Id"
								 ValueChanged="@((Guid v) => _changeTracker.TrackChange(Model, nameof(Model.<#ref entry.Field#>Id), Model.<#ref entry.Field#>Id, v))"
								 ValueExpression="@(() => Model.<#ref entry.Field#>Id)">
						@foreach (var value in _<#ref entry.ReferenceTypeLow#>s)
						{
							<option value="@value.Id">@value.<#cs Write(Definitions.First(e => e.Name == entry.ReferenceType).Entries.First().Field)#></option>
						}
					</InputSelect>
<#else
#><#ref entry.EntryType;#> ???<#end
#>				</div>
<#end
#>			</div>
		</section>
<#if Entries.Any(e => e.IsArray)
#>		<section>
<#end#><#for entry in Entries.Where(e => e.IsArray)
#>			<table class="table table-striped">
				<thead>
					<tr>
<#for e in Definitions.First(definition => definition.Name == entry.EntryType).Entries
#>						<th>@<#ref entry.EntryType#>Loc.<#ref e.Field#></th>
<#end#>						<th>
							<IconButton Icon="Add"
										ButtonClass="btn btn-success"
										Execute="Add<#ref entry.Field#>Entry"
										Title="@CommonLoc.New" />
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var entry in Model.<#ref entry.Field#>)
					{
						<tr scope="row">
<#for e in Definitions.First(definition => definition.Name == entry.EntryType).Entries
#><#if e.EntryType.ToLower() == "bool"
#>							<td><input type="checkbox" class="form-check-input" checked="@entry.<#ref e.Field#>" @onchange="@(ev => _changeTracker.TrackChange(entry, nameof(entry.<#ref e.Field#>), entry.<#ref e.Field#>, (bool)(ev.Value ?? false)))" /></td>
<#else
#>							<td><input type="text" class="form-control" value="@entry.<#ref e.Field#>" @onchange="@(ev => _changeTracker.TrackChange(entry, nameof(entry.<#ref e.Field#>), entry.<#ref e.Field#>, ev.Value?.ToString() ?? string.Empty))" /></td>
<#end#><#end#>							<td>
								<IconButton Icon="Delete"
											ButtonClass="btn btn-danger"
											Execute="() => Remove<#ref entry.Field#>Entry(entry.Id)"
											Title="@CommonLoc.Delete" />
							</td>
						</tr>
					}
				</tbody>
			</table>
<#end#><#if Entries.Any(e => e.IsArray)
#>		</section>
<#end#>	</EditForm>

	<DeleteConfirmationDialog @bind-IsVisible="isDeleteRequested" Remove="Remove" />
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	[Parameter]
	public Guid Id { get; set; }

	private bool isNew = false;
	private bool isDeleteRequested = false;
	private <#ref Definition.Name#>Model? Model;
	private readonly ChangeTracker _changeTracker = new();

<#for entry in Entries.Where(e => e.IsReference)
#>	private IEnumerable<<#ref entry.ReferenceType#>ListItemModel> _<#ref entry.ReferenceTypeLow#>s = [];
<#end#>
	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (Id == Guid.Empty)
			{
				Model = <#ref Definition.Name#>Service.Create<#ref Definition.Name#>();
				isNew = true;
			}
			else
			{
				Model = await <#ref Definition.Name#>Service.GetItemAsync(Id);
			}

<#for entry in Entries.Where(e => e.IsReference)
#>			_<#ref entry.ReferenceTypeLow#>s = await <#ref entry.ReferenceType#>Service.GetItemsAsync();
<#end#>
			<#ref Definition.Name#>Service.ItemUpdated += Handle;
			_changeTracker.StateChanged += () => InvokeAsync(StateHasChanged);

			await <#ref Definition.Name#>Service.StartEventListener();
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading <#ref Definition.Name#>.");
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorCouldNotLoad);
		}
	}

	private async Task Save()
	{
		if (Model is null)
		{
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorModelIsNullReload);
			return;
		}

		try
		{
			if (isNew)
			{
				await <#ref Definition.Name#>Service.AddItemAsync(Model);
				Id = Model.Id;
				NavigationManager.NavigateTo($"/<#cs
var name = Definition.Name.ToLower();
if (name.EndsWith("entry"))
{
	name = name[0..^5] + "entrie";
}
Write(name);
#>/{Model.Id}", false, true);
				isNew = false;
			}
			else
			{
				await <#ref Definition.Name#>Service.UpdateItemAsync(Model);
			}

			_changeTracker.Clear();
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error saving <#ref Definition.Name#>.");
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorCouldNotSave);
		}
	}

	private async Task Remove()
	{
		if (Model is null)
		{
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorModelIsNullReload);
			return;
		}

		try
		{
			if (!isNew)
			{
				await <#ref Definition.Name#>Service.DeleteItemAsync(Model.Id);
			}

			_changeTracker.Clear();
			NavigationManager.NavigateTo("/<#cs
var name = Definition.Name.ToLower();
if (name.EndsWith("entry"))
{
	name = name[0..^5] + "entrie";
}
Write(name);
#>s");
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error deleting <#ref Definition.Name#>.");
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorDeleting);
		}
	}

	private async Task Handle(object? sender, <#ref Definition.Name#>Updated message)
	{
		if (Model is null || Model.Id != message.Id)
		{
			return;
		}

		Map.From(message).To(Model);
		_changeTracker.Clear();

		await InvokeAsync(StateHasChanged);
	}
<#for entry in Entries.Where(e => e.IsArray)
#>
	private void Add<#ref entry.Field#>Entry()
	{
		if (Model is null)
		{
			return;
		}

		var max = 0;

		if (Model.<#ref entry.Field#>.Count > 0)
		{
			max = Model.<#ref entry.Field#>.Max(e => e.Id) + 1;
		}

		var model = new <#ref entry.EntryType#>Model() { Id = max };

		Model.<#ref entry.Field#>.Add(model);

		_changeTracker.Track(
			nameof(Model.<#ref entry.Field#>),
			() => Model.<#ref entry.Field#>.Remove(model),
			() => Model.<#ref entry.Field#>.Add(model));
	}

	private void Remove<#ref entry.Field#>Entry(int id)
	{
		if (Model is null)
		{
			return;
		}

		var oldItem = Model.<#ref entry.Field#>.FirstOrDefault(i => i.Id == id);

		if (oldItem != null)
		{
			var index = Model.<#ref entry.Field#>.IndexOf(oldItem);

			if (index != -1)
			{
				Model.<#ref entry.Field#>.RemoveAt(index);

				_changeTracker.Track(
					nameof(Model.<#ref entry.Field#>),
					() => Model.<#ref entry.Field#>.Insert(index, oldItem),
					() => Model.<#ref entry.Field#>.Remove(oldItem));
			}
		}
	}
<#end#>
	public void Dispose()
	{
		<#ref Definition.Name#>Service.ItemUpdated -= Handle;
	}
}
<#cs SetOutputPath(Definition.IsOwnedType || Definition.IsEnumeration || Definition.IsArray)#>