@page "/<#cs 
if (!Definition.Name.ToLower().EndsWith("entry"))
{
	Write(Definition.Name.ToLower());
}
else
{
	Write(Definition.Name.ToLower()[0..^5] + "entrie");
}
#>s"
@using Microsoft.Extensions.Localization;
@using <# Project.Namespace#>.Blazor.Identity;
@using <# Project.Namespace#>.Blazor.Services;
@using <# Project.Namespace#>.Client.Data.Models;
@using <# Project.Namespace#>.Client.Data.Services;
@using <# Project.Namespace#>.Client.Data;
@using <# Project.Namespace#>.Client.Localisation;
@using <# Project.Namespace#>.Contracts.Events;
@inject ILogger<<# Definition.Name#>s> Log
@inject Najlot.Map.IMap Map
@inject I<# Definition.Name#>Service <# Definition.Name#>Service
@inject NavigationManager NavigationManager

@attribute [Authorize]
@implements IDisposable

<PageTitle>@<# Definition.Name#>Loc.<# Definition.Name#>s</PageTitle>

@if (<# Definition.NameLow#>s == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
 	<section class="d-grid gap-3">
		<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3">
			<h1 class="mb-0">@<# Definition.Name#>Loc.<# Definition.Name#>s</h1>
			<a href="/<# Definition.Name#>/@Guid.Empty" class="btn btn-success">@CommonLoc.New</a>
		</div>
		<div class="card shadow-sm border-0">
			<div class="table-responsive">
				<table class="table table-hover align-middle mb-0">
					<thead class="table-light">
						<tr>
<#for entry in Definition.Entries.Where(e => !(e.IsKey || e.IsArray || e.IsReference || e.IsOwnedType)).Take(2)
#>							<th>@<# Definition.Name#>Loc.<# entry.Field#></th>
<#end
#>							<th class="text-end">@CommonLoc.Edit</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var <# Definition.NameLow#> in <# Definition.NameLow#>s)
						{
							<tr scope="row">
<#for entry in Definition.Entries.Where(e => !(e.IsKey || e.IsArray || e.IsReference || e.IsOwnedType)).Take(2)
#><#if entry.EntryType.ToLower() == "string"
#>								<td class="text-break">@LimitDisplayLength(<# Definition.NameLow#>.<# entry.Field#>, 75)</td>
<#else
#>								<td class="text-break">@<# Definition.NameLow#>.<# entry.Field#></td>
<#end#><#end
#>								<td class="text-end"><a href="/<# Definition.Name#>/@<# Definition.NameLow#>.Id" class="btn btn-outline-primary btn-sm">@CommonLoc.Edit</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section>
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	private List<<# Definition.Name#>ListItemModel>? <# Definition.NameLow#>s;

	private string LimitDisplayLength(string? value, int maxLength)
	{
		if (maxLength < 3) throw new InvalidOperationException("MaxLength must be greater than 3");
		if (string.IsNullOrWhiteSpace(value)) return "";
		if (value.Length <= maxLength) return value;
		return value.Substring(0, maxLength - 3) + "...";
	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
			<# Definition.NameLow#>s = new List<<# Definition.Name#>ListItemModel>(await <# Definition.Name#>Service.GetItemsAsync());

			<# Definition.Name#>Service.ItemCreated += Handle;
			<# Definition.Name#>Service.ItemUpdated += Handle;
			<# Definition.Name#>Service.ItemDeleted += Handle;

			await <# Definition.Name#>Service.StartEventListener();
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading <# Definition.Name#>s.");
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorCouldNotLoad);
		}
	}

	private async Task Handle(object? sender, <# Definition.Name#>Created message)
	{
		if (<# Definition.NameLow#>s is null)
		{
			return;
		}

		var item = Map.From(message).To<<# Definition.Name#>ListItemModel>();

		<# Definition.NameLow#>s.Insert(0, item);

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(object? sender, <# Definition.Name#>Updated message)
	{
		if (<# Definition.NameLow#>s is null)
		{
			return;
		}

		var entry = <# Definition.NameLow#>s.FirstOrDefault(t => t.Id == message.Id);

		if (entry is not null)
		{
			Map.From(message).To(entry);
		}

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(object? sender, <# Definition.Name#>Deleted message)
	{
		if (<# Definition.NameLow#>s is null)
		{
			return;
		}

		var entry = <# Definition.NameLow#>s.FirstOrDefault(t => t.Id == message.Id);

		if (entry is null)
		{
			return;
		}

		<# Definition.NameLow#>s.Remove(entry);

		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		<# Definition.Name#>Service.ItemCreated -= Handle;
		<# Definition.Name#>Service.ItemUpdated -= Handle;
		<# Definition.Name#>Service.ItemDeleted -= Handle;
	}
}
<#cs SetOutputPath(Definition.IsOwnedType || Definition.IsEnumeration || Definition.IsArray)#>