@using <#cs Write(Project.Namespace)#>.Blazor.Identity;
@using <#cs Write(Project.Namespace)#>.Client.Localisation;
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<AuthorizeView>
	<Authorized>
		<div class="nav-item pe-3">
			<a class="nav-link" href="Manage">@CommonLoc.Hello, @context.User.Identity?.Name!</a>
		</div>
		<div class="nav-item">
			<button class="nav-link" type="button" @onclick="Logout">@CommonLoc.Logout</button>
		</div>
	</Authorized>
	<NotAuthorized>
		<div class="nav-item">
			<a class="nav-link" href="Register">@CommonLoc.Register</a>
		</div>
		<div class="nav-item">
			<a class="nav-link" href="Login">@CommonLoc.Login</a>
		</div>
	</NotAuthorized>
</AuthorizeView>

@code {
	private async Task Logout()
	{
		await AuthenticationService.LogoutAsync();
		NavigationManager.NavigateTo("/");
	}
}<#cs SetOutputPathAndSkipOtherDefinitions()#>