@using <#cs Write(Project.Namespace)#>.Client.Localisation;

@implements IDisposable

@if (_isVisible)
{
	<div class="modal d-block" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.5);">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">@Title</h5>
				</div>
				<div class="modal-body">
					<p>@Description</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" @onclick="Save" disabled="@(!CanSave)">@CommonLoc.Save</button>
					<button type="button" class="btn btn-warning" @onclick="Discard">@CommonLoc.Discard</button>
					<button type="button" class="btn btn-secondary" @onclick="Cancel">@CommonLoc.Cancel</button>
				</div>
			</div>
		</div>
	</div>
}

@code {
	public enum SaveDialogResult
	{
		Save,
		Discard,
		Cancel
	}

	[Parameter] public string Title { get; set; } = @CommonLoc.SaveConfirmationTitle;
	[Parameter] public string Description { get; set; } = @CommonLoc.SaveConfirmationDescription;

	[Parameter] public bool CanSave { get; set; } = true;

	private bool _isVisible;
	private TaskCompletionSource<SaveDialogResult>? _saveDialogCompletion;

	public async Task<SaveDialogResult> ShouldSave()
	{
		_saveDialogCompletion = new TaskCompletionSource<SaveDialogResult>();
		_isVisible = true;
		StateHasChanged();

		try
		{
			return await _saveDialogCompletion.Task;
		}
		catch (TaskCanceledException)
		{
			return SaveDialogResult.Cancel;
		}
		finally
		{
			_isVisible = false;
			StateHasChanged();
		}
	}

	private void Save()
	{
		_saveDialogCompletion?.TrySetResult(SaveDialogResult.Save);
	}

	private void Discard()
	{
		_saveDialogCompletion?.TrySetResult(SaveDialogResult.Discard);
	}

	private void Cancel()
	{
		_saveDialogCompletion?.TrySetResult(SaveDialogResult.Cancel);
	}

	public void Dispose()
	{
		_saveDialogCompletion?.TrySetCanceled();
	}
}
<#cs SetOutputPathAndSkipOtherDefinitions()#>
