@page
@using <# Project.Namespace#>.Client.Localisation
@model <# Project.Namespace#>.Htmx.Pages.Identity.ResetPasswordModel
@{
	ViewData["Title"] = UserLoc.ResetPassword;
	Layout = "_Layout";
}

<section class="w-100 p-4 d-flex justify-content-center">
	<div style="min-width: 320px; max-width: 420px; width: 100%;">
		<h1>@UserLoc.ResetPassword</h1>
		<br />

		@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
		{
			<div class="alert alert-danger">@Model.ErrorMessage</div>
		}

		<form method="post">
			<input type="hidden" name="Input.EMail" value="@Model.Input.EMail" />
			<div class="mb-4">
				<label class="form-label" for="EmailInput">@UserLoc.EmailAddress</label>
				<input type="email" id="EmailInput" class="form-control" value="@Model.Input.EMail" disabled />
			</div>
			<div class="mb-4">
				<label class="form-label" for="CodeInput">@UserLoc.ResetCode</label>
				<input type="text" id="CodeInput" name="Input.Code" class="form-control" value="@Model.Input.Code" />
			</div>
			<div class="mb-4">
				<label class="form-label" for="PasswordInput">@UserLoc.NewPassword</label>
				<input type="password" id="PasswordInput" name="Input.Password" class="form-control" autocomplete="new-password" />
			</div>
			<div class="mb-4">
				<label class="form-label" for="PasswordConfirmInput">@UserLoc.ConfirmNewPassword</label>
				<input type="password" id="PasswordConfirmInput" name="Input.PasswordConfirm" class="form-control" autocomplete="new-password" />
			</div>
			<div class="mb-4">
				<button type="submit" class="btn btn-primary w-100">@UserLoc.ResetPassword</button>
			</div>
			<div class="mb-4 text-center">
				<a href="/Identity/ForgotPassword" class="btn btn-link">@UserLoc.ForgotPassword</a>
			</div>
		</form>
	</div>
</section>
<#cs SetOutputPathAndSkipOtherDefinitions()#>
