@page "/notes"
@using Cosei.Client.Base;
@using Cosei.Client.Http;
@using Microsoft.Extensions.Localization;
@using Todo.Blazor.Identity;
@using Todo.Blazor.Services;
@using Todo.Client.Data.Models;
@using Todo.Client.Data.Services;
@using Todo.Client.Data;
@using Todo.Client.Localisation;
@using Todo.Contracts.Events;
@inject ILogger<Notes> Log
@inject Najlot.Map.IMap Map
@inject INoteService NoteService
@inject ISubscriberProvider SubscriberProvider
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@implements IDisposable

<PageTitle>@NoteLoc.Notes</PageTitle>

@if (notes == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
	<table class="table table-sm table-striped">
		<thead>
			<tr>
				<th>@NoteLoc.Title</th>
				<th>@NoteLoc.Content</th>
				<th><a href="/Note/@Guid.Empty" class="btn btn-success w-100">@CommonLoc.New</a></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var note in notes)
			{
				<tr scope="row">
					<td class="text-break">@LimitDisplayLength(note.Title, 75)</td>
					<td class="text-break">@LimitDisplayLength(note.Content, 75)</td>
					<td><a href="/Note/@note.Id" class="btn btn-primary w-100">@CommonLoc.Edit</a></td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	private List<NoteListItemModel>? notes;

	private ISubscriber? Subscriber;

	private string LimitDisplayLength(string? value, int maxLength)
	{
		if (maxLength < 3) throw new InvalidOperationException("MaxLength must be greater than 3");
		if (string.IsNullOrWhiteSpace(value)) return "";
		if (value.Length <= maxLength) return value;
		return value.Substring(0, maxLength - 3) + "...";
	}

	protected override async Task OnInitializedAsync()
	{
		var state = await AuthenticationService.GetAuthenticationStateAsync();

		if (state.User.Identity is null)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
			return;
		}

		try
		{
			notes = new List<NoteListItemModel>(await NoteService.GetItemsAsync());

			Subscriber = await SubscriberProvider.GetSubscriber();

			Subscriber.Register<NoteCreated>(Handle);
			Subscriber.Register<NoteUpdated>(Handle);
			Subscriber.Register<NoteDeleted>(Handle);

			await Subscriber.StartAsync();
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading notes.");
			ErrorService?.ShowError("Error", "Could not load. Server error.");
		}
	}

	private async Task Handle(NoteCreated message)
	{
		if (notes is null)
		{
			return;
		}

		var item = Map.From(message).To<NoteListItemModel>();

		notes.Insert(0, item);

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(NoteUpdated message)
	{
		if (notes is null)
		{
			return;
		}

		var entry = notes.FirstOrDefault(t => t.Id == message.Id);

		if (entry is not null)
		{
			Map.From(message).To(entry);
		}

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(NoteDeleted message)
	{
		if (notes is null)
		{
			return;
		}

		var entry = notes.FirstOrDefault(t => t.Id == message.Id);

		if (entry is null)
		{
			return;
		}

		notes.Remove(entry);

		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		Subscriber?.Unregister(this);
	}
}
