@using <# Project.Namespace#>.Client.Localisation;

<FluentDialog Hidden="@(!IsVisible)"
			  HiddenChanged="HandleHiddenChanged"
			  Modal="true"
			  PreventScroll="true"
			  TrapFocus="true">
	<FluentDialogHeader ShowDismiss="true">@Title</FluentDialogHeader>
	<FluentDialogBody>
		<p>@Description</p>
	</FluentDialogBody>
	<FluentDialogFooter>
		<FluentButton Appearance="Appearance.Accent"
					  BackgroundColor="var(--fluent-danger)"
					  Color="#ffffff"
					  OnClick="RemoveExecute">@CommonLoc.Delete</FluentButton>
		<FluentButton Appearance="Appearance.Neutral" OnClick="Cancel">@CommonLoc.Cancel</FluentButton>
	</FluentDialogFooter>
</FluentDialog>

@code {
	[Parameter] public string Title { get; set; } = @CommonLoc.DeleteConfirmationTitle;
	[Parameter] public string Description { get; set; } = @CommonLoc.DeleteConfirmationDescription;

	[Parameter] public bool IsVisible { get; set; }
	[Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

	[Parameter] public EventCallback Remove { get; set; }

	private async Task RemoveExecute()
	{
		if (Remove.HasDelegate)
		{
			await Remove.InvokeAsync();
		}
	}

	private async Task Cancel()
	{
		IsVisible = false;
		await IsVisibleChanged.InvokeAsync(IsVisible);
		await InvokeAsync(StateHasChanged);
	}

	private async Task HandleHiddenChanged(bool hidden)
	{
		if (hidden && IsVisible)
		{
			await Cancel();
		}
	}
}
<#cs SetOutputPathAndSkipOtherDefinitions()#>
