@page
@using Todo.Client.Localisation
@model Todo.Htmx.Pages.Identity.ForgotPasswordModel
@{
	ViewData["Title"] = UserLoc.ForgotPassword;
	Layout = "_Layout";
}

<section class="w-100 p-4 d-flex justify-content-center">
	<div style="min-width: 320px; max-width: 420px; width: 100%;">
		<h1>@UserLoc.ForgotPassword</h1>
		<br />

		@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
		{
			<div class="alert alert-danger">@Model.ErrorMessage</div>
		}

		<form method="post">
			<div class="mb-4">
				<label class="form-label" for="EmailInput">@UserLoc.EmailAddress</label>
				<input type="email" id="EmailInput" name="Input.EMail" class="form-control"
					   value="@Model.Input.EMail" autocomplete="email" />
			</div>
			<div class="mb-4">
				<button type="submit" class="btn btn-primary w-100">@UserLoc.SendResetCode</button>
			</div>
			<div class="mb-4 text-center">
				<a href="/Identity/Login" class="btn btn-link">@UserLoc.Login</a>
			</div>
		</form>
	</div>
</section>

