@page "/Login"
@using System.ComponentModel.DataAnnotations;
@using Todo.Blazor.Identity;
@using Todo.Blazor.Services;
@using Todo.Client.Data.Identity;
@using Todo.Client.Localisation;

@inject IAuthenticationService AuthenticationService
@inject ITokenService TokenService
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<EditForm Model="@Input" OnValidSubmit="@TryLogin">
	<section class="w-100 p-4 d-flex justify-content-center pb-4">
		<div>
			<h1>@CommonLoc.Login</h1>
			<br/>
			<DataAnnotationsValidator />
			<ValidationSummary  />

			<!-- Username input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="UsernameInput">@CommonLoc.Username</label>
				<InputText type="text" id="UsernameInput" class="form-control" @bind-Value="Input.Username" />
			</div>

			<!-- Password input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="PasswordInput">@CommonLoc.Password</label>
				<InputText type="password" id="PasswordInput" class="form-control" @bind-Value="Input.Password" />
			</div>

			<div class="form-outline mb-4">
				<button type="submit" class="btn btn-primary w-100">@CommonLoc.Login</button>
			</div>
		</div>
	</section>
</EditForm>

@code {
	private class InputModel
	{
		[Required]
		[StringLength(30, MinimumLength = 3)]
		public string Username { get; set; } = string.Empty;

		[Required]
		[DataType(DataType.Password)]
		[StringLength(30, MinimumLength = 8)]
		public string Password { get; set; } = string.Empty;
	}

	private InputModel Input = new();

	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	protected override async Task OnInitializedAsync()
	{
		ErrorService?.HideError();
		await AuthenticationService.LogoutAsync();
		await base.OnInitializedAsync();
	}

	private async Task TryLogin()
	{
		string? token;

		try
		{
			token = await TokenService.CreateToken(Input.Username, Input.Password);
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, "Error creating token.");
			ErrorService?.ShowError("Login", "Could not login. Server error.");
			return;
		}

		if (string.IsNullOrWhiteSpace(token))
		{
			ErrorService?.ShowError("Login", "Could not login. Username and password does not match.");
			Input.Password = "";
		}
		else
		{
			await AuthenticationService.LoginAsync(Input.Username, token);
			ErrorService?.HideError();

			var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
			var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

			if (query.TryGetValue("returnurl", out var returnUrl) && returnUrl.Any())
			{
				NavigationManager.NavigateTo("/" + returnUrl.First());
			}
			else
			{
				NavigationManager.NavigateTo("/");
			}
		}
	}
}