@page "/notes"
@using Microsoft.Extensions.Localization;
@using Todo.Blazor.Identity;
@using Todo.Blazor.Services;
@using Todo.Client.Data.Models;
@using Todo.Client.Data.Services;
@using Todo.Client.Data;
@using Todo.Client.Localisation;
@using Todo.Contracts.Events;
@inject ILogger<Notes> Log
@inject Najlot.Map.IMap Map
@inject INoteService NoteService
@inject NavigationManager NavigationManager

@attribute [Authorize]
@implements IDisposable

<PageTitle>@NoteLoc.Notes</PageTitle>

@if (notes == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
 	<section class="d-grid gap-3">
		<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3">
			<h1 class="mb-0">@NoteLoc.Notes</h1>
			<a href="/Note/@Guid.Empty" class="btn btn-success">@CommonLoc.New</a>
		</div>
		<div class="card shadow-sm border-0">
			<div class="table-responsive">
				<table class="table table-hover align-middle mb-0">
					<thead class="table-light">
						<tr>
							<th>@NoteLoc.Title</th>
							<th>@NoteLoc.Content</th>
							<th class="text-end">@CommonLoc.Edit</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var note in notes)
						{
							<tr scope="row">
								<td class="text-break">@LimitDisplayLength(note.Title, 75)</td>
								<td class="text-break">@LimitDisplayLength(note.Content, 75)</td>
								<td class="text-end"><a href="/Note/@note.Id" class="btn btn-outline-primary btn-sm">@CommonLoc.Edit</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section>
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	private List<NoteListItemModel>? notes;

	private string LimitDisplayLength(string? value, int maxLength)
	{
		if (maxLength < 3) throw new InvalidOperationException("MaxLength must be greater than 3");
		if (string.IsNullOrWhiteSpace(value)) return "";
		if (value.Length <= maxLength) return value;
		return value.Substring(0, maxLength - 3) + "...";
	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
			notes = new List<NoteListItemModel>(await NoteService.GetItemsAsync());

			NoteService.ItemCreated += Handle;
			NoteService.ItemUpdated += Handle;
			NoteService.ItemDeleted += Handle;

			await NoteService.StartEventListener();
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading Notes.");
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorCouldNotLoad);
		}
	}

	private async Task Handle(object? sender, NoteCreated message)
	{
		if (notes is null)
		{
			return;
		}

		var item = Map.From(message).To<NoteListItemModel>();

		notes.Insert(0, item);

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(object? sender, NoteUpdated message)
	{
		if (notes is null)
		{
			return;
		}

		var entry = notes.FirstOrDefault(t => t.Id == message.Id);

		if (entry is not null)
		{
			Map.From(message).To(entry);
		}

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(object? sender, NoteDeleted message)
	{
		if (notes is null)
		{
			return;
		}

		var entry = notes.FirstOrDefault(t => t.Id == message.Id);

		if (entry is null)
		{
			return;
		}

		notes.Remove(entry);

		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		NoteService.ItemCreated -= Handle;
		NoteService.ItemUpdated -= Handle;
		NoteService.ItemDeleted -= Handle;
	}
}
