@page "/note/{id:guid}"
@using Cosei.Client.Base;
@using Cosei.Client.Http;
@using Microsoft.Extensions.Localization;
@using Todo.Blazor.Identity;
@using Todo.Blazor.Services;
@using Todo.Client.Data.Mappings;
@using Todo.Client.Data.Models;
@using Todo.Client.Data.Services;
@using Todo.Client.Data;
@using Todo.Client.Localisation;
@using Todo.Contracts;
@using Todo.Contracts.Events;
@inject ILogger<Note> Log
@inject Najlot.Map.IMap Map;
@inject INoteService NoteService
@inject ISubscriberProvider SubscriberProvider
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<PredefinedColorLoc> PredefinedColorLocalizer

@implements IDisposable

@if (isNew)
{
	<PageTitle>@NoteLoc.CreateNote</PageTitle>
}
else
{
	<PageTitle>@NoteLoc.EditNote</PageTitle>
}

@if (Model == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
	<EditForm Model="@Model" OnValidSubmit="@Save">
		<section class="w-100 p-4 pb-4">
			<div class="form-outline align-content-md-end mb-4 float-end">
				<button type="submit" class="btn btn-success">@CommonLoc.Save</button>
				<button @onclick="Remove" type="button" class="btn btn-danger">@CommonLoc.Delete</button>
			</div>
			<div class="form-outline mb-4">
				@if (isNew)
				{
					<h1>@NoteLoc.CreateNote</h1>
				}
				else
				{
					<h1>@NoteLoc.EditNote</h1>
				}
			</div>
			<div class="w-auto h-auto">
				<DataAnnotationsValidator />
				<ValidationSummary />

				<!-- Title input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="TitleInput">@NoteLoc.Title</label>
					<InputText type="text" id="TitleInput" class="form-control" @bind-Value="Model.Title" />
				</div>

				<!-- Content input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="ContentInput">@NoteLoc.Content</label>
					<InputText type="text" id="ContentInput" class="form-control" @bind-Value="Model.Content" />
				</div>

				<!-- Color input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="ColorInput">@NoteLoc.Color</label>
					<InputSelect id="ColorInput" class="form-control" @bind-Value="Model.Color" >
						@foreach (var value in Enum.GetValues(typeof(Contracts.PredefinedColor)))
						{
							<option value="@value">@PredefinedColorLocalizer[$"{@value}"]</option>
						}
					</InputSelect>
				</div>
			</div>
		</section>
	</EditForm>
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	[Parameter]
	public Guid Id { get; set; }

	private ISubscriber? Subscriber;

	private bool isNew = false;
	private NoteModel? Model;


	protected override async Task OnInitializedAsync()
	{
		var state = await AuthenticationService.GetAuthenticationStateAsync();

		if (state.User.Identity is null)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
			return;
		}

		try
		{
			if (Id == Guid.Empty)
			{
				Model = NoteService.CreateNote();
				isNew = true;
			}
			else
			{
				Model = await NoteService.GetItemAsync(Id);
			}


			Subscriber = await SubscriberProvider.GetSubscriber();

			Subscriber.Register<NoteUpdated>(Handle);

			await Subscriber.StartAsync();
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading note.");
			ErrorService?.ShowError("Error", "Could not load. Server error.");
		}
	}

	private async Task Save()
	{
		if (Model is null)
		{
			ErrorService?.ShowError("Error", "Model is null. Please reload the page.");
			return;
		}

		try
		{
			if (isNew)
			{
				await NoteService.AddItemAsync(Model);
				Id = Model.Id;
				NavigationManager.NavigateTo($"/note/{Model.Id}", false, true);
				isNew = false;
			}
			else
			{
				await NoteService.UpdateItemAsync(Model);
			}

			NavigationManager.NavigateTo("/notes");
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error saving note.");
			ErrorService?.ShowError("Error", "Could not save. Server error.");
		}
	}

	private async Task Remove()
	{
		if (Model is null)
		{
			ErrorService?.ShowError("Error", "Model is null. Please reload the page.");
			return;
		}

		try
		{
			if (!isNew)
			{
				await NoteService.DeleteItemAsync(Model.Id);
			}

			NavigationManager.NavigateTo("/notes");
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error saving note.");
			ErrorService?.ShowError("Error", "Could not save. Server error.");
		}
	}

	private async Task Handle(NoteUpdated message)
	{
		if (Model is null || Model.Id != message.Id)
		{
			return;
		}

		Map.From(message).To(Model);

		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		Subscriber?.Unregister(this);
	}
}
