@page "/TodoItems"
@using Microsoft.Extensions.Localization;
@using Todo.Blazor.Identity;
@using Todo.Blazor.Services;
@using Todo.Client.Data;
@using Todo.Client.Data.TodoItems;
@using Todo.Client.Localisation;
@using Todo.Contracts.TodoItems;

@inject ILogger<TodoItems> Log
@inject Najlot.Map.IMap Map
@inject ITodoItemService TodoItemService
@inject NavigationManager NavigationManager

@attribute [Authorize]
@implements IDisposable

<PageTitle>@TodoItemLoc.TodoItems</PageTitle>

@if (todoItems == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
 	<section class="d-grid gap-3">
		<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3">
			<h1 class="mb-0">@TodoItemLoc.TodoItems</h1>
			<a href="/TodoItem/@Guid.Empty" class="btn btn-success material-symbols-sharp">add</a>
		</div>
		<div class="card shadow-sm border-0">
			<div class="table-responsive">
				<table class="table table-hover align-middle mb-0">
					<thead class="table-light">
						<tr>
							<th>@TodoItemLoc.Title</th>
							<th>@TodoItemLoc.Content</th>
							<th class="text-end">@CommonLoc.Edit</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var todoItem in todoItems)
						{
							<tr scope="row">
								<td class="text-break">@LimitDisplayLength(todoItem.Title, 75)</td>
								<td class="text-break">@LimitDisplayLength(todoItem.Content, 75)</td>
								<td class="text-end"><a href="/TodoItem/@todoItem.Id" class="btn btn-outline-primary btn-sm">@CommonLoc.Edit</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section>
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	private List<TodoItemListItemModel>? todoItems;

	private string LimitDisplayLength(string? value, int maxLength)
	{
		if (maxLength < 3) throw new InvalidOperationException("MaxLength must be greater than 3");
		if (string.IsNullOrWhiteSpace(value)) return "";
		if (value.Length <= maxLength) return value;
		return value.Substring(0, maxLength - 3) + "...";
	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
			todoItems = new List<TodoItemListItemModel>(await TodoItemService.GetItemsAsync());

			TodoItemService.ItemCreated += Handle;
			TodoItemService.ItemUpdated += Handle;
			TodoItemService.ItemDeleted += Handle;

			await TodoItemService.StartEventListener();
		}
		catch (Todo.Client.Data.Identity.SessionUnavailableException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading TodoItems.");
			ErrorService?.ShowError(ErrorLoc.Error, ErrorLoc.ErrorCouldNotLoad);
		}
	}

	private async Task Handle(object? sender, TodoItemCreated message)
	{
		if (todoItems is null)
		{
			return;
		}

		var item = Map.From(message).To<TodoItemListItemModel>();

		todoItems.Insert(0, item);

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(object? sender, TodoItemUpdated message)
	{
		if (todoItems is null)
		{
			return;
		}

		var entry = todoItems.FirstOrDefault(t => t.Id == message.Id);

		if (entry is not null)
		{
			Map.From(message).To(entry);
		}

		await InvokeAsync(StateHasChanged);
	}

	private async Task Handle(object? sender, TodoItemDeleted message)
	{
		if (todoItems is null)
		{
			return;
		}

		var entry = todoItems.FirstOrDefault(t => t.Id == message.Id);

		if (entry is null)
		{
			return;
		}

		todoItems.Remove(entry);

		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		TodoItemService.ItemCreated -= Handle;
		TodoItemService.ItemUpdated -= Handle;
		TodoItemService.ItemDeleted -= Handle;
	}
}
