@page "/todoitem/{id:guid}"
@using Cosei.Client.Base;
@using Cosei.Client.Http;
@using Microsoft.Extensions.Localization;
@using Todo.Blazor.Identity;
@using Todo.Blazor.Services;
@using Todo.Client.Data.Mappings;
@using Todo.Client.Data.Models;
@using Todo.Client.Data.Services;
@using Todo.Client.Data;
@using Todo.Client.Localisation;
@using Todo.Contracts;
@using Todo.Contracts.Events;
@inject ILogger<TodoItem> Log
@inject Najlot.Map.IMap Map;
@inject ITodoItemService TodoItemService
@inject IUserService UserService

@inject ISubscriberProvider SubscriberProvider
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<TodoItemStatusLoc> TodoItemStatusLocalizer

@implements IDisposable

@if (isNew)
{
	<PageTitle>@TodoItemLoc.CreateTodoItem</PageTitle>
}
else
{
	<PageTitle>@TodoItemLoc.EditTodoItem</PageTitle>
}

@if (Model == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
	<EditForm Model="@Model" OnValidSubmit="@Save">
		<section class="w-100 p-4 pb-4">
			<div class="form-outline align-content-md-end mb-4 float-end">
				<button type="submit" class="btn btn-success">@CommonLoc.Save</button>
				<button @onclick="Remove" type="button" class="btn btn-danger">@CommonLoc.Delete</button>
			</div>
			<div class="form-outline mb-4">
				@if (isNew)
				{
					<h1>@TodoItemLoc.CreateTodoItem</h1>
				}
				else
				{
					<h1>@TodoItemLoc.EditTodoItem</h1>
				}
			</div>
			<div class="w-auto h-auto">
				<DataAnnotationsValidator />
				<ValidationSummary />

				<!-- Title input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="TitleInput">@TodoItemLoc.Title</label>
					<InputText type="text" id="TitleInput" class="form-control" @bind-Value="Model.Title" />
				</div>

				<!-- Content input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="ContentInput">@TodoItemLoc.Content</label>
					<InputText type="text" id="ContentInput" class="form-control" @bind-Value="Model.Content" />
				</div>

				<!-- CreatedAt input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="CreatedAtInput">@TodoItemLoc.CreatedAt</label>
					<InputDate id="CreatedAtInput" class="form-control" @bind-Value="Model.CreatedAt" ParsingErrorMessage="Must be a date" />
				</div>

				<!-- CreatedBy input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="CreatedByInput">@TodoItemLoc.CreatedBy</label>
					<InputText type="text" id="CreatedByInput" class="form-control" @bind-Value="Model.CreatedBy" />
				</div>

				<!-- AssignedTo input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="AssignedToInput">@TodoItemLoc.AssignedTo</label>
					<InputSelect id="AssignedToInput" class="form-control" @bind-Value="Model.AssignedToId">
						@foreach (var value in _users)
						{
							<option value="@value.Id">@value.Username</option>
						}
					</InputSelect>
				</div>

				<!-- Status input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="StatusInput">@TodoItemLoc.Status</label>
					<InputSelect id="StatusInput" class="form-control" @bind-Value="Model.Status" >
						@foreach (var value in Enum.GetValues(typeof(Contracts.TodoItemStatus)))
						{
							<option value="@value">@TodoItemStatusLocalizer[$"{@value}"]</option>
						}
					</InputSelect>
				</div>

				<!-- ChangedAt input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="ChangedAtInput">@TodoItemLoc.ChangedAt</label>
					<InputDate id="ChangedAtInput" class="form-control" @bind-Value="Model.ChangedAt" ParsingErrorMessage="Must be a date" />
				</div>

				<!-- ChangedBy input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="ChangedByInput">@TodoItemLoc.ChangedBy</label>
					<InputText type="text" id="ChangedByInput" class="form-control" @bind-Value="Model.ChangedBy" />
				</div>

				<!-- Priority input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="PriorityInput">@TodoItemLoc.Priority</label>
					<InputText type="text" id="PriorityInput" class="form-control" @bind-Value="Model.Priority" />
				</div>
			</div>
		</section>
		<section>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>@ChecklistTaskLoc.IsDone</th>
						<th>@ChecklistTaskLoc.Description</th>
						<th><button type="button" class="btn btn-success w-100" @onclick="AddChecklistEntry">@CommonLoc.New</button></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var entry in Model.Checklist)
					{
						<tr scope="row">
							<td><input type="checkbox" class="form-check-input" @bind=entry.IsDone /></td>
							<td><input type="text" class="form-control" @bind=entry.Description /></td>
							<td><button type="button" class="btn btn-danger w-100" @onclick="() => RemoveChecklistEntry(entry.Id)">@CommonLoc.Delete</button></td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	</EditForm>
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	[Parameter]
	public Guid Id { get; set; }

	private ISubscriber? Subscriber;

	private bool isNew = false;
	private TodoItemModel? Model;

	private IEnumerable<UserListItemModel> _users = Array.Empty<UserListItemModel>();

	protected override async Task OnInitializedAsync()
	{
		var state = await AuthenticationService.GetAuthenticationStateAsync();

		if (state.User.Identity is null)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
			return;
		}

		try
		{
			if (Id == Guid.Empty)
			{
				Model = TodoItemService.CreateTodoItem();
				isNew = true;
			}
			else
			{
				Model = await TodoItemService.GetItemAsync(Id);
			}

			_users = await UserService.GetItemsAsync(true);

			Subscriber = await SubscriberProvider.GetSubscriber();

			Subscriber.Register<TodoItemUpdated>(Handle);

			await Subscriber.StartAsync();
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading todoitem.");
			ErrorService?.ShowError("Error", "Could not load. Server error.");
		}
	}

	private async Task Save()
	{
		if (Model is null)
		{
			ErrorService?.ShowError("Error", "Model is null. Please reload the page.");
			return;
		}

		try
		{
			if (isNew)
			{
				await TodoItemService.AddItemAsync(Model);
				Id = Model.Id;
				NavigationManager.NavigateTo($"/todoitem/{Model.Id}", false, true);
				isNew = false;
			}
			else
			{
				await TodoItemService.UpdateItemAsync(Model);
			}

			NavigationManager.NavigateTo("/todoitems");
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error saving todoitem.");
			ErrorService?.ShowError("Error", "Could not save. Server error.");
		}
	}

	private async Task Remove()
	{
		if (Model is null)
		{
			ErrorService?.ShowError("Error", "Model is null. Please reload the page.");
			return;
		}

		try
		{
			if (!isNew)
			{
				await TodoItemService.DeleteItemAsync(Model.Id);
			}

			NavigationManager.NavigateTo("/todoitems");
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error saving todoitem.");
			ErrorService?.ShowError("Error", "Could not save. Server error.");
		}
	}

	private async Task Handle(TodoItemUpdated message)
	{
		if (Model is null || Model.Id != message.Id)
		{
			return;
		}

		Map.From(message).To(Model);

		await InvokeAsync(StateHasChanged);
	}

	private void AddChecklistEntry()
	{
		if (Model is null)
		{
			return;
		}

		var max = 0;

		if (Model.Checklist.Count > 0)
		{
			max = Model.Checklist.Max(e => e.Id) + 1;
		}

		var model = new ChecklistTaskModel() { Id = max };

		Model.Checklist.Add(model);
	}

	private void RemoveChecklistEntry(int id)
	{
		if (Model is null)
		{
			return;
		}

		var oldItem = Model.Checklist.FirstOrDefault(i => i.Id == id);

		if (oldItem != null)
		{
			var index = Model.Checklist.IndexOf(oldItem);

			if (index != -1)
			{
				Model.Checklist.RemoveAt(index);
			}
		}
	}

	public void Dispose()
	{
		Subscriber?.Unregister(this);
	}
}
